Repository google/go-safeweb, pull requests merged in 2020-10, with the labels that each got.

#204 coop: internal refactor
  safehttp/plugins/coop/coop.go
Labels: hacktoberfest-accepted, internal cleanup, plugin

#206 Refactor the tests that use the recover() function
  safehttp/header_test.go
  safehttp/incoming_request_test.go
  safehttp/mux_test.go
  safehttp/plugins/csp/csp_test.go
  safehttp/plugins/fetch_metadata/fetch_metadata_test.go
  safehttp/response_writer_test.go
Labels: hacktoberfest-accepted, internal cleanup

#209 Allow the user to set a custom status code in the safehttp.ResponseWriter
  safehttp/response_writer.go
  safehttp/response_writer_test.go
Labels: core, enhancement, hacktoberfest-accepted

#213 Moved token generation to the Commit phase for xsrfhtml
  safehttp/plugins/xsrf/html/xsrf.go
  safehttp/plugins/xsrf/html/xsrf_test.go
  tests/integration/xsrf/xsrf_test.go
Labels: internal cleanup, plugin
